# ------- Node ignore -------

# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# ------- MySQL ignore -------

*~
*.a
*.la
*.lo
*.o
*.so
*ib_doublewrite
*ib_logfile0
*ib_logfile1
*ibdata1

.cproject
.deps
.metadata
.project
.settings
.*.swp
Docs/INFO_BIN
Testing/
VERSION.dep

config.guess
config.log
config.status
config.sub
configure

install-sh
instance
log

# ------- Extra -------
scraper/test.ts
.vscode/